.page{
    display: flex;
    justify-content: space-around;
    padding: 2%;
}

.buttons{
    display: flex;
    flex-direction: row;
}

form{
    display: flex;
    flex-direction: column;
}

button{
    margin: 10px;
}